.container {
  margin: auto;
  width: 100%;
  height: 100%;
  background-image: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1572004997844&di=fa5c7ddbb16f572b2f42fdbd884d4dc1&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201210%2F06%2F20121006120834_tLmvu.jpeg);
}

.form-wrap {
  padding-top: 30%;
}

.form-register {
  float: right;
}