.empty {
    margin-top: 6rem;
}

.todoCompont-content {
    margin-top: 1rem;
}

.todoCompont-header {
    height: 4rem;
    width: 100%;
}

.todoCompont-header-item {
    /* float: left; */
    width: 60%;
}